/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ページ全体 */
body {
    background-color: white;
    color:black;
    margin: 0;
    padding: 0;
    font-family: Meiryo, sans-serif;
}

/* リンク */
a:link {
    color: #00c;
}
a:visited{
    color: #00c;
}
a:hover{
    color: #ccf;
}
a:img{
    border: none;
}


/* 全体の枠 */
div#container {
    margin: 0 auto;
    padding-top: 5px;
    width:1000px;
}

/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.menubar {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
    background-color: #16a085; /* バーの背景色(濃い赤色) */
 }
 
 /* -------------------------- */
 /* ▼メインメニュー項目の装飾 */
 /* -------------------------- */
 ul.menubar li {
    width: 125px;           /* メニュー項目の横幅(125px) */
    display: inline-block;  /* ★1:横並びに配置する */
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
 }
 ul.menubar a {
    background-color: #16a085; /* メニュー項目の背景色(濃い赤色) */
    color: white;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    display: block;            /* ★4:項目内全域をリンク可能にする */
 }
 ul.menubar a:hover {
    background-color: #1abc9c; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    color: #fff;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
 }
 
/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.menubar ul {
   display: none;       /* ★1:標準では非表示にする */
   margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
   position: absolute;  /* ★4:絶対配置にする */
}
/* ---------------------------------- */
/* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
/* ---------------------------------- */
ul.menubar li:hover ul {
    display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
 }

 ul.menubar span {
    background-color: #18463c; /* メニュー項目の背景色(濃い赤色) */
    color: white;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    display: block;            /* ★4:項目内全域をリンク可能にする */
 
 }


 /*データ領域にスクロールバーを作成 */
 /* 外枠部分 */
div.data_area {
    width: 1000px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
  }